{% extends 'base.html.twig' %}

{% block body %}
    <div class="container  table table-responsive">
    <h1>Liste des commentaires</h1>
    <div class="row">
        <div class="col-lg-12">
            <h2 style="color:black;" class="text-center">Commentaires licites</h2>
            {{ include('OCBlogBundle:Commentaire:displayComment.html.twig', {'commentaires':commentairesLicites,boutonModere:true})}}
        </div>
        <div class="col-lg-12">
            <h2 style="color:black;" class="text-center">Commentaires signalés</h2>
            {{ include('OCBlogBundle:Commentaire:displayComment.html.twig', {'commentaires':commentairesSignales,boutonAutorise:true, boutonModere:true})}}
        </div>
        <div class="col-lg-12">
            <h2 style="color:black;" class="text-center">Commentaires modérés</h2>
            {{ include('OCBlogBundle:Commentaire:displayComment.html.twig', {'commentaires':commentairesModeres, boutonAutorise:true})}}
        </div>
    </div>
        
            <a class="btn btn-primary btn-block" href="{{url('admin_episode_index')}}">Gérer les épisodes</a>  
            <a class="btn btn-danger btn-block" style="margin-top:10px;" href="{{path('oc_user_logout')}}">Se déconnecter</a>
    </div>
{% endblock %}


